.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 28px 20px;
  background-color: var(--secound-color);
  border-radius: 60px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;

  flex: 1;
}

.first_column {
  max-width: 524px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  flex: 1;
}

.secound_column {
  margin: auto;
}

.block_title {
  display: flex;
  justify-content: space-between;

  align-items: end;
}

.dynamic_list {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.dynamic_item {
  position: relative;
}

.dynamic_item input {
  padding-right: 80px;
}

.remove_btn {
  height: 100%;
  padding-left: 10px;

  position: absolute;

  top: 50%;
  right: 20px;

  transform: translateY(-50%);

  border-left: 1px solid silver;
}

.remove_btn img {
  width: 32px;
  height: 32px;
}

/* PHOTO */

.photo_wrapper {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;

  flex: 1;

  gap: 34px;
}

@media screen and (min-width: 767px) {
  .form_wrapper {
    flex-direction: row;
    gap: 80px;
  }

  .form_block {
    flex-direction: column;
  }

  .wrapper {
    padding: 40px;
    flex-direction: row;
  }

  .secound_column {
    margin: 0;
    margin-left: auto;
  }
}
