.container {
  width: 100%;

  margin-inline: auto;
  padding-inline: 20px; /* mobile first */
  padding-block: 10px;
}

/* ≥ 768px */
@media (min-width: 768px) {
  .container {
    padding-inline: 32px;
    padding-block: 16px;
  }
}

/* ≥ 1280px */
@media (min-width: 1280px) {
  .container {
    max-width: 1920px;
  }
}
