.MuiSelect-root {
  border-radius: 25px !important;
}

.MuiInputLabel-root.Mui-focused {
  color: var(--head-background-color) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--head-background-color) !important;
}

.MuiNativeSelect-root-MuiSelect-icon {
  color: var(--head-background-color) !important;
}
